<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Hello HTML</title>
    <script src="path/to/validate.polyfills.min.js"></script>
    <script src="server.js"></script>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <h1>Hello.</h1>
    <form action="/name" method="post" data-validate>
        <label>First Name :</label>
        <input type="text" name="first" value="Lil"><br>

        <label>Last Name :</label>
        <input type="text" name="last" value="Huddy"><br><br>

        <label for="email">Email</label>
        <input type="email" id="email" required>

        <label for="url">URL</label>
        <input type="url" id="url" required>

        <label for="password">Password (At least 1 uppercase character, 1 lowercase character, and 1 number)</label>
        <input type="password" value="" title="Please choose a password that includes at least 1 uppercase character, 1 lowecase character, and 1 number." id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z](?!.*\s).*$" required>

        <input type="submit" value="Submit">
    </form>
</body>

</html>
